<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <header>
        <a href="/">
            <div class="logoBoxHeader">
                <img src="./static/DaLokal_Logo.svg" alt="DaLokal_Logo" class="logo">
                <h6>DaLokal</h6>
            </div>
        </a>

        <div class="linkBoxHeader">
            <p class="linkHeader"><a href="/">Products</a></p>
            <p class="linkHeader"><a href="/">Statistic</a></p>
            <form action="/logout">
                <input type="submit" value="Logout" class="linkheaer">
            </form>
        </div>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>
</body>

</html>