<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="/static/script.js"></script>
</head>

<body onload="checkIfUser('{{notMyAccount}}'), edit('{{edit}}'), flashMessage('{{flash_message}}')">
    
    <header>
        <a href="/">
            <div class="logoBoxHeader">
                <img src="/static/DaLokal_Logo.svg" alt="DaLokal_Logo" class="logo">
                <h6>DaLokal</h6>
            </div>
        </a>

        <div class="linkBoxHeader">
            <form action="/">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/icon_file/home.svg"> <nav>Homepage</nav> 
                    </div>
                </button>
            </form>
            <form id="edit" action="/profile/edit">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/icon_file/edit.svg"> <nav>Edit</nav> 
                    </div>
                </button>
            </form>

            <!-- Log out button ask again -->
            {% if notLoggedIn != 1 %}
            <button onclick="openModal('logoutModal')" class="logInButton">
                <div class="alignButtonContent">
                    <img class="iconButton" src="/static/icon_file/logout.svg"> <nav>Log out</nav> 
                </div>
            </button>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="logoutModal" class="logoutModal">
            <div class="logoutContent">
              <button onclick="closeModal('logoutModal')" class="closeBtn">&times;</button>
              <div class="modalContainer">
                  <h2>Do you really want to logout?</h2>
                  <div class="logoutButtons">
                    <form action="/logout">
                      <button class="button">Yes</button>
                    </form>
                    <button onclick="closeModal('logoutModal')" class="button">No</button>
                  </div>
              </div>
            </div>
          </div>
        {% block content%}
        {% endblock %}
    </main>
</body>

</html>