<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome</title>
    <script src="/static/script.js"></script>
</head>

<body>
    <header>
        <div class="logoBoxHeader">
            <img src="./static/DaLokal_Logo.svg" alt="DaLokal_Logo" class="logo">
            <h6>DaLokal</h6>
        </div>
        <div class="logInBoxHeader">
            {% if loggedIn != True %}
            <form action="/login">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/login.svg"> Log in
                    </div>
                </button>
            </form>
            <form action="/signup">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/signup.svg"> Sign up
                    </div>
                </button>
            </form>
            {% else %}
            <form action="/profile">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/profile.svg"> {{firstname}}
                    </div>
                </button>
            </form>
            <button onclick="openModal('logoutModal')" class="logInButton">
                <div class="alignButtonContent">
                    <img class="iconButton" src="/static/logout.svg"> Log out
                </div>
            </button>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="logoutModal" class="logoutModal">
            <div class="logoutContent">
                <button onclick="closeModal('logoutModal')" class="closeBtn">&times;</button>
                <div class="modalContainer">
                    <h2>Do you really want to logout?</h2>
                    <div class="logoutButtons">
                        <form action="/logout">
                            <button class="button">Yes</button>
                        </form>
                        <button onclick="closeModal('logoutModal')" class="button">No</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mainHeader">Find your<br><span style="color: #66D836;">farm nearby</span></h1>
        <div class="productCategorieContainer">
            <label class="checkbox">
                <input name="filter" onclick="filter('all')" type="radio" checked>
                <div class="productCategorieBox">
                    <p class="productCategorieText">All categories</p>
                </div>

                </input>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Vegetables')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/vegetables.png" alt="">
                    <p class="productCategorieText">Vegetables</p>
                </div>

                </input>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Milk products')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/milk_products.png" alt="">
                    <p class="productCategorieText">Milk products</p>
                </div>

                </input>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Wheat')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/wheat.png" alt="">
                    <p class="productCategorieText">Wheat</p>
                </div>
                </input>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Meat')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/meat.png" alt="">
                    <p class="productCategorieText">Meat</p>
                </div>
                </input>
            </label>
        </div>

        {% if farms != () %}

        <div id="farmBoxesContainer" class="farmBoxesContainer">
            {% for farm in farms %}
            <section>
                <form action="/user/{{farm[1]}}">
                    <button type="submit" class="farmBox">
                        <img class="farmImg" src="/static/farmHourseExample.jpg" alt="">
                        <div class="farmInfo">
                            <div class="farmInfoFirstLine">
                                <h2>{{farm[1]}}</h2>
                                {% if farm[9] == 0 %}
                                <div class="buttonOpen" style="background-color: #FF0000;">Closed</div>
                                {% else %}
                                {% if farm[9] == 1 %}
                                <div class="buttonOpen">Open</div>
                                {% else %}
                                <div class="buttonOpen" style="background-color: #f4f4f4; color: rgb(131, 131, 131);">No
                                    data</div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="farmAdress">{{farm[2]}}, {{farm[3]}} {{farm[4]}}</div>
                            {% if farm[5] or farm[6] or farm[7] or farm[8] != 0 %}
                            <div class="farmProductCategoriesContainer">
                                <div class="categorieHeader">Product categories:</div>
                                {% if farm[5] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/vegetables.png" alt="Here">
                                    <p class="farmProductTags">Vegetables</p>
                                </div>
                                {% endif %}
                                {% if farm[6] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/milk_products.png" alt="Here">
                                    <p class="farmProductTags">Milk products</p>
                                </div>
                                {% endif %}
                                {% if farm[7] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/wheat.png" alt="Here">
                                    <p class="farmProductTags">Wheat</p>
                                </div>
                                {% endif %}
                                {% if farm[8] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/meat.png" alt="Here">
                                    <p class="farmProductTags">Meat</p>
                                </div>
                                {% endif %}
                            </div>
                            {% else %}
                            <h4>No products yet.</h4>
                            {% endif%}
                        </div>
                    </button>
                </form>
            </section>

            {% endfor %}

            {% else %}
            <h4>No farms nearby</h4>
            {% endif %}

    </main>
    <footer>

    </footer>
</body>

</html>