<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/DaLokal_Logo.svg"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Welcome">
    <meta property="og:description" content="We connect farms with customers (Practice Page)">
    <meta property="og:image" content="https://dalokal-website.ey.r.appspot.com/static/DaLokal_link_preview.png">
    <meta property="og:url" content="https://dalokal-website.ey.r.appspot.com">
    <script src="/static/script.js"></script>
</head>

<body>
    <header>
        <div class="logoBoxHeader">
            <img src="./static/DaLokal_Logo.svg" alt="DaLokal_Logo" class="logo">
            <h6>DaLokal</h6>
        </div>
        <div class="logInBoxHeader">
            {% if loggedIn != True %}
            <form action="/login">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/icon_file/login.svg"> <nav>Log in</nav> 
                    </div>
                </button>
            </form>
            <form action="/signup">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/icon_file/signup.svg"> <nav>Sign up</nav> 
                    </div>
                </button>
            </form>
            {% else %}
            <form action="/profile">
                <button class="logInButton">
                    <div class="alignButtonContent">
                        <img class="iconButton" src="/static/icon_file/profile.svg"> <nav>{{firstname}}</nav> 
                    </div>
                </button>
            </form>
            <button onclick="openModal('logoutModal')" class="logInButton">
                <div class="alignButtonContent">
                    <img class="iconButton" src="/static/icon_file/logout.svg"> <nav>Log out</nav> 
                </div>
            </button>
            {% endif %}
        </div>
    </header>
    <main>
        <div id="logoutModal" class="logoutModal">
            <div class="logoutContent">
                <button onclick="closeModal('logoutModal')" class="closeBtn">&times;</button>
                <div class="modalContainer">
                    <h2>Do you really want to logout?</h2>
                    <div class="logoutButtons">
                        <form action="/logout">
                            <button class="button">Yes</button>
                        </form>
                        <button onclick="closeModal('logoutModal')" class="button">No</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="mainHeader">Find your<br><span style="color: #66D836;">farm nearby</span></h1>
        <div class="productCategorieContainer">
            <label class="checkbox">
                <input name="filter" onclick="filter('all')" type="radio" checked>
                <div class="productCategorieBox">
                    <p class="productCategorieText">All categories</p>
                </div>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Vegetables')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/vegetable_icon.svg" alt="">
                    <p class="productCategorieText">Vegetables</p>
                </div>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Milk products')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/milk_icon.svg" alt="">
                    <p class="productCategorieText">Milk products</p>
                </div>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Wheat')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/wheat_icon.svg" alt="">
                    <p class="productCategorieText">Wheat</p>
                </div>
            </label>
            <label class="checkbox">
                <input name="filter" onclick="filter('Meat')" type="radio">
                <div class="productCategorieBox">
                    <img class="productCategorieImg" src="/static/icon_file/meat_icon.svg" alt="">
                    <p class="productCategorieText">Meat</p>
                </div>
            </label>
        </div>

        {% if farms != () %}

        <div id="farmBoxesContainer" class="farmBoxesContainer">
            {% for farm in farms %}
            <section>
                <form action="/user/{{farm[1]}}">
                    <button type="submit" class="farmBox">
                        <img class="farmImg" src="/static/farmer_img/{{farm[2]}}" alt="">
                        <div class="farmInfo">
                            <div class="farmInfoFirstLine">
                                <h2>{{farm[1]}}</h2>
                                {% if farm[11] == 0 %}
                                <div class="buttonOpen" style="background-color: #FF0000;">Closed</div>
                                {% else %}
                                {% if farm[11] == 1 %}
                                <div class="buttonOpen">Open</div>
                                {% else %}
                                <div class="buttonOpen" style="background-color: #f4f4f4; color: rgb(131, 131, 131);">No
                                    data</div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="farmAdress">{{farm[4]}}, {{farm[5]}} {{farm[6]}}</div>
                            {% if farm[7] or farm[8] or farm[9] or farm[10] != 0 %}
                            {% if farm[3] == 1 %}
                            <div class="categorieHeader">{{farm[3]}} product in this category:</div>
                            {% else %}
                            <div class="categorieHeader">{{farm[3]}} products in this category:</div>
                            {% endif %}
                            <div class="farmProductCategoriesContainer">
                                {% if farm[7] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/vegetable_icon.svg" alt="Here">
                                    <p class="farmProductTags">Vegetables</p>
                                </div>
                                {% endif %}
                                {% if farm[8] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/milk_icon.svg" alt="Here">
                                    <p class="farmProductTags">Milk products</p>
                                </div>
                                {% endif %}
                                {% if farm[9] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/wheat_icon.svg" alt="Here">
                                    <p class="farmProductTags">Wheat</p>
                                </div>
                                {% endif %}
                                {% if farm[10] != 0 %}
                                <div class="farmProductCategories">
                                    <img class="farmProductImg" src="/static/icon_file/meat_icon.svg" alt="Here">
                                    <p class="farmProductTags">Meat</p>
                                </div>
                                {% endif %}
                            </div>
                            {% else %}
                            <h4 class="noProduct">No products yet.</h4>
                            {% endif%}
                        </div>
                    </button>
                </form>
            </section>

            {% endfor %}

            {% else %}
            <h4>No farms nearby</h4>
            {% endif %}

    </main>
    <footer>

    </footer>
</body>

</html>