<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Log In</title>
    <script src="/static/script.js"></script>
</head>

<body onload="flashMessage('{{flash_message}}')">
    <header>
        <a href="/">
            <div class="logoBoxHeader">
                <img src="/static/DaLokal_Logo.svg" alt="DaLokal_Logo" class="logo">
                <h6>DaLokal</h6>
            </div>
        </a>
    </header>

    <form method="POST" action="/login">
        <div class="loginContainer">
            <div id="errorMessage" class="errorMessage"></div>
            <h1>
                <img class="icon" src="/static/icon_file/login.svg"> Log in
            </h1>
            <input class="logInInput inputText" type="email" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                placeholder="Enter Email" name="email" required>
            <input class="logInInput inputText" type="password" placeholder="Enter Password" name="psw" required>
            <label class="logInInput">
                <input type="checkbox">
                Remember me
            </label>
            <button type="submit" class="signupbtn">Login</button>
        </div>
    </form>
</body>

</html>