{% extends "base.html" %}

{% block content %}
<!-- js error because of base.html onload=... if not here -->
<div style="display: none;" id="errorMessage"></div>

<div class="firstBlock">
  <!-- !!! Have to change this to {{farmer_img}} -->
  <img src="/static/farmHourseExample.jpg" alt="" class="farmerImage">
  <div class="farmDescriptionBox">
    <div class="infoContainer">
      <h1 class="farmerName">{{farmname}}</h1>
      <textarea class="description">{{description}}</textarea>
    </div>
    <div class="timeAdressContainer">
      <p class="adress">{{adress}}</p>
      <div class="timeContainer">
        {% if time != () %}
        <table>
          {% for day in time%}
          <tr>
            <td>
              <p class="time">{{day[1]}}:</p>
            </td>
            <td>
              <p class="time">{{day[2]}}</p>
            </td>
            <td>
              <p class="time">to</p>
            </td>
            <td>
              <p class="time">{{day[3]}}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <div class="noTime">
          <img src="/static/bug.svg" alt="" style="height: 28px; width: 28px; margin-bottom: 10px;">
          <p>No opening hours provided!</p>
        </div>

        {% endif %}
      </div>
    </div>

  </div>
</div>

<div class="alignProductButton">
  <h3>Our<br><span style="color: #66D836;">Products</span></h3>

  <button id="addProduct" onclick="openModal('simpleModal')" style="margin-left: auto;">
    <div class="alignButtonContent">
      <img class="iconButton" src="/static/add.svg" alt=""> Add product
    </div>
  </button>
</div>

<div id="simpleModal" class="modal">
  <div class="modal-content">
    <button onclick="closeModal('simpleModal')" class="closeBtn">&times;</button>
    <div class="modalContainer">
      <h5>Add a product</h5>
      <div>
        <form method="POST" action="/profile/product-add">
          <div class="center">
            <input maxlength="45" class="productInput inputText" placeholder="Enter the product name" type="text"
              name="productName" id="productName" required>
            <textarea maxlength="200" class="descriptionText" placeholder="Enter the product description" type="text"
              name="productDescription" id="productDescription" required></textarea>
            <div class="priceWeightContainer">
              <div>
                <h5>Price</h5>
                <div class="price">
                  <input class="priceInput" type="number" name="priceEuro" id="priceEuro" placeholder="0" required>
                  <p class="priceText">,</p>
                  <input class="priceInput" type="number" name="priceCent" id="priceCent" value="00" required>
                  <p class="priceText">€</p>
                </div>
              </div>
              <div>
                <h5>Weight / Liter</h5>
                <div class="price">
                  <input style="width: 100px;" class="priceInput" type="number" step="0.001" name="weight" id="weight"
                    placeholder="0,000" required>
                  <p class="priceText">kg / l</p>
                </div>
              </div>
              <div>
                <h5>Category</h5>
                <div class="price">
                  <select style="width: 150px; text-align: center;" class="priceInput" name="category" id="category" required>
                    <option value="" disabled selected>Select Category</option>
                    <option value="Vegetable">Vegetable</option>
                    <option value="Milk product">Milk product</option>
                    <option value="Wheat">Wheat</option>
                    <option value="Meat">Meat</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="submit" type="submit" class="signupbtn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if products != () %}
<div class="productBox">
  {% for product in products %}
  <div class="productBoxContent">
    <!-- Image -->
    <img src="/static/carrots.jpg" alt="" class="productImage">
    <!-- Name, Describtion, Price -->
    <div class="productInformation">
      <h4>{{product[2]}}</h4>
      <p class="productText">{{product[3]}}</p>
      <p class="productText">#{{product[1]}}</p>
      <div class="productButtonLine">
        <div class="priceWeightProduct">{{product[4]}} €</div>
        <div class="priceWeightProduct">{{product[5]}} kg</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h1 style="margin-bottom: 80px;">No Products</h1>
{% endif %}
<div class="locationBox">
  <!-- First Box -->
  <div class="locationBoxText">
    <h2 class="subHeader">My location</h2>
    <div class="locationBoxTextContent">
      <p>Lohmühlenstraße 65, 12435 Berlin</p>
      <div class="locationBoxDistance">
        <img src="/static/carIcon.svg" alt="" class="carIcon">
        <div>
          <p>10 min</p>
          <p>5 km</p>
        </div>
      </div>
      <button type="button" class="buttonRoute">Route</button>
    </div>
  </div>
  <!-- Second Box -->
  <!-- Google maps AI -->
  <img src="/static/maps.png" alt="" class="maps">

</div>

{% endblock %}