<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='logInStyle.css') }}">
    <title>Sign up</title>
    <script>
        var flash_message = "{{flash_message}}";
    </script>
    <script src="/static/script.js"></script>
</head>

<body onload="flashMessage()">
    <a href="/">
        <div class="logoBoxHeader">
            <img src="./static/DaLokal_Logo.svg" alt="DaLokal_Logo" class="logo">
            <h6>DaLokal</h6>
        </div>
    </a>

    <form action="/signup" method="POST">
        <div class="loginContainer">
            {% if flash_message != '' %}
            <div id="errorMessage" class="errorMessage"></div>
            {% else %}
            <div class="noErrorMessage"></div>
            {% endif %}
            <h1>Sign up</h1>
            <!-- The pattern is checking if the format matches the email pattern -->
            <input class="logInInput inputText" type="email" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                placeholder="Enter Email" name="email" required>
            <input class="logInInput inputText" type="password" placeholder="Enter Password" name="psw" required>
            <input class="logInInput inputText" type="password" placeholder="Repeat Password" name="psw_repeat"
                required>
            <button class="logInInput loginButton" type="submit" class="signupbtn">Sign Up</button>
        </div>
    </form>
</body>

</html>