html {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: SF Pro Display;
    font-style: normal;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 1100px;
}

.logoBoxHeader {
    margin-top: 27px;
    position: absolute;
    display: flex;
    align-items: center;
}

header {
    margin-top: 27px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 26px;
    color: #414141;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.icon {
    height: 2rem;
    width: 2rem;
    margin-right: 15px;
}

.iconButton {
    height: 1rem;
    width: 1rem;
    margin-right: 8px;
    transition: 0.2s;
}

.alignButtonContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signOutButton {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 140px;
    height: 45px;
    background: #ECECEC;
    border-radius: 6px;
    border: 0;
    transition: 0.2s;
}

.loginContainer {
    height: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logInInput {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-height: 64px;
}

.logInButton:hover .iconButton {
    filter: invert(100%) sepia(6%) saturate(1%) hue-rotate(87deg) brightness(106%) contrast(100%);
}

.inputText, button {
    margin: 15px;
}

.inputText, .loginButton{
    border: 0;
    font-size: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: 0.2s;
}

/* Remove input action border */
input:focus {
    outline-width: 0;
    background-color: #67d8368e;
}

.errorMessage {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 300px;
    padding: 0 50px;
    min-height: 80px;
    border-radius: 25px;
    margin-bottom: 40px;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.underline {
    text-decoration: underline 2px solid;
}

h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 1.2rem;
}

p {
    padding: 0;
    margin: 5px 15px;
}
label {
    margin-right: 10px;
}

.timeContainer {
    margin: 20px;
    width: 400px;
}

.dayContainer {
    display: flex;
    align-items: center;
}

.clearButton {
    margin: 5px 0 5px 15px;
    padding: 0;
    height: 1.8rem;
    width: 4rem;
    border: 0;
    border-radius: 5px;
    transition: 0.2s;
}

button:active, button:focus {
    outline: 0;
}

button:hover {
    background-color: #66D836;
    color: white;
}

.farmInput {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    min-height: 64px;
    margin-bottom: 30px;
}

.inputAdress {
    border: 0;
    width: 200px;
    margin: 0 15px 15px 15px;
    min-height: 64px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.descriptionText {
    border: 0;
    width: 660px;
    height: 200px;
    resize: none;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: SF Pro Display;
    font-style: normal;
    font-size: 1rem;
}

.descriptionText:focus {
    outline: 0;
    background-color: #67d8368e;
}

@media only screen and (max-width: 1150px) {
    .logo {
        height: 2.5rem;
        margin-right: 10px;
        margin-left: 25px;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 1150px;
    }
}

@media only screen and (max-width: 450px) {
    .logo {
        margin-left: 0px;
    }

    .logoBoxHeader {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logInInput {
        max-width: 300px;
        min-height: 64px;
    }

    .errorMessage {
        text-align: center;
        max-width: 200px;
        padding: 0 50px;
        min-height: 80px;
    }
}