html {
    display: flex;
    justify-content: center;
    font-family: SF Pro Display;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 1100px;
    margin-bottom: 50px;
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

/* Header settings */

header {
    height: 50px;
    width: 100%;
    padding-top: 22px;
    display: flex;
    font-family: SF Pro Display;
}

.logo {
    height: 2.5rem;
    margin-right: 10px;
}

h6 {
    font-weight: bold;
    font-size: 26px;
    color: #414141;
}

.logoBoxHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInBoxHeader {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.iconButton {
    height: 1rem;
    width: 1rem;
    margin-right: 8px;
    transition: 0.2s;
}

.alignButtonContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInButton {
    margin-left: 28px;
    font-size: 0.8rem;
    width: 140px;
    height: 45px;
    background: #ECECEC;
    border-radius: 6px;
    border: 0;
    transition: 0.2s;
}

button:active {
    outline: 0;
}

.logInButton:hover {
    background-color: #66D836;
    color: white;
}

.logInButton:hover .iconButton {
    filter: invert(100%) sepia(6%) saturate(1%) hue-rotate(87deg) brightness(106%) contrast(100%);
}

/* Main body */

/* Header */

h1 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;

    color: #414141;

    margin: 65px 0px;
}

.farmBoxesContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    flex-basis: 28px;
}

.farmBox {
    width: 536px;
    height: 274px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    /* To keep distance between each row */
    margin-bottom: 28px;

    /* Space between picture and informations */
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}

.farmBox:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.farmImg {
    margin: 20px 10px 20px 20px;
    height: 234px;
    width: 234px;
    border-radius: 25px;
    object-fit: cover;
}



.farmInfo {
    margin: 20px 20px 20px 10px;
    height: 234px;
    width: 234px;
    display: flex;
    flex-direction: column;
}

.farmInfoFirstLine {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

h2 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.buttonOpen {
    width: 60px;
    height: 25px;
    background: #66D836;
    border-radius: 5px;
    border: 0;
    color: white;
}

.farmAdress {
    margin-bottom: 16px;
    font-size: 0.9rem;
}

.farmProductCategoriesContainer {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.farmProductCategories {
    margin-top: 5px;
    height: 60px;
    width: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.farmProductImg {
    height: 40px;
    width: 40px;
}

.farmProductTags {
    text-align: center;
    font-size: 0.9rem;
}

/* Product categorie container */

.productCategorieContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productCategorieBox {
    width: 254px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-bottom: 65px;
}

.productCategorieBox:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.productCategorieBox:focus {
    background-color: #66D836;
    outline: 0;
}

.productCategorieBox:focus .productCategorieImg {
    filter: invert(100);
}

.productCategorieBox:focus .productCategorieText {
    color: white;
}

.productCategorieImg {
    width: 70px;
    height: 70px;
}

.productCategorieText {
    font-size: 1rem;
    font-weight: bold;
}